<div class='container'>
  <img class='event-image' [src]="event?.imageUrl" [alt]="event?.name">

  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase }} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{event?.date | date }}</div>
      <div><strong>Time:</strong> {{event?.time}}</div>
      <div><strong>Price:</strong> {{event?.price | currency:'USD':true}}</div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br /> {{event?.location?.address}}
        <br /> {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr>

  <h3>Sessions</h3>

  <div>
    <a type="button" (click)="addSession()" style="cursor: pointer;">Add Session</a>
  </div>

  <app-session-list *ngIf="!addMode" [sessions]="event?.sessions"></app-session-list>

  <app-create-session *ngIf="addMode" (cancelAddSession)="cancelAddSession()"></app-create-session>
</div>
