.main-nav {
//    display: beacuse of mobile
    display: none;
    
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }
    
    &__list-item {
        display: block;
        padding: 20px 40px;
        color: $white;
        font-family: $font-heading;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    &__toggler {
//        for float:right need fixed width
        float: right;
        width: 70px;
    }
}