.main-nav {
//    display: beacuse of mobile
    display: none;
    clear: both;
    position: absolute;
    width: 100%;
    background-color: $gray;
    
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        
        & li:last-of-type {
            .main-nav__list-item {
                border-bottom: none;
            }
        }
    }
    
    &__list-item {
        display: block;
        padding: 20px 40px;
        color: $white;
        font-family: $font-heading;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px solid $white;
        
        &:hover {
            color: $yellow;
        }
    }
}

@media(min-width: 768px) {
    .main-nav {
        display: block;
        
        &__list {
            flex-direction: row;
            
            & li:first-child {
                background-color: $blue;
            }
        }
        
        &__list-item {
            border-bottom: none;
        }
    }
}