.page-header {
    padding-top: 30px;
    margin-bottom: 40px;
    
    &__inner {
        @include paddings(20px);
    }
    
    &__logo {
        width: 200px;
        height: 50px;
        margin-bottom: 30px;
        background-color: $gray-light;
    }
    
    &__nav-wrapper {
        width: 100%;
        min-height: 58px;
        background-color: $gray;
    }
}