@font-face {
  font-family: 'plumb';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/plumb-regular.otf);
}

@font-face {
  font-family: 'plumb condensced';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/plumbcondensed-regular.otf);
}

@font-face {
  font-family: 'plumb condensced black';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/plumbcondensed-black.ttf);
}
