@import 'var.scss';

body {
    font-family: $font-text;
    font-size: 14px;
    color: $black;
}

@import 'components/page-header.scss';

@import 'components/main-nav.scss';

@import 'components/login-form.scss';

//end of page-header

@import 'components/welcome-screen.scss';

@import 'components/welcome-slider.scss';

@import 'components/arrow-down.scss';
