@import 'var.scss';

body {
    font-family: $font-text;
    font-size: 14px;
    color: $black;
}

@import 'components/page-header.scss';

@import 'components/main-nav.scss';

@import 'components/login-form.scss';

//end of page-header

@import 'components/welcome-screen.scss';

@import 'components/arrow-down.scss';

// page-main

@import 'components/page-main.scss';

@import 'components/help-filter.scss';

@import 'components/tags.scss';

@import 'components/shelter-filter.scss';

@import 'components/positions.scss';

//event and news
@import 'components/event.scss';

@import 'components/latest-news.scss';

// footer

@import 'components/page-footer.scss';

@import 'components/question.scss';

@import 'components/contacts.scss';

@import 'components/socials.scss';

