//fonts
@import 'font.scss';

$font-heading: 'plumb condensced black', 'Impact', 'Arial Black', sans-serif;
$font-subheading: 'plumb condensced', 'Arial', 'Helvetica', sans-serif;
$font-text: 'plumb', 'Verdana', 'Geneva', sans-serif;