<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=deivce-width, initial-scale=1">
    <link rel="stylesheet" href="form.css">
    <title>Тестовое задание</title>
    <script src="lib/angular.min.js"></script>
    <!-- can add app and ctrl in one element and with dom-ready? -->
    <script src="app.js"></script>
    <script src="ctrl.js"></script>
  </head>
  <body ng-controller="appCtrl">

    <h2>Мой день</h2>

    <ul>
      <li ng-repeat="listItem in list">
        {{listItem.text}}
        <span ng-click="addFlag()">[+]</span>
        <span ng-click="hidePhrase()">[x]</span>
      </li>
      <ul ng-include="addInclude()"></ul>
    </ul>

    <form ng-show="formFlag">
      <select ng-model="newItem.type">
        <option value="time">Интервал</option>
        <option value="act">Действие</option>
        <option value="group">Группа</option>
      </select>
      <input type='text' ng-model="newItem.text">
      <button ng-click="addPhrase()">Добавить</button>
      <span class="hideForm" ng-click="removeFlag()">[x]</span>
    </form>

  </body>
</html>
