.contacts {
    @include paddings;
    padding-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid $gray-border;

    & h5:first-child {
            margin-top: 0px;
    }

    h5,
    a {
        font-family: $font-subheading;
        font-weight: 700;
        color: $black;
        text-decoration: none;
        letter-spacing: 1px;
    }

    h5 {
        margin-bottom: 0px;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
        color: $white;
    }

    &__subscripton-form {
        margin-top: 1.67em;

        input {
            margin-top: 10px;
            background-color: transparent;
            border: 1px solid $gray-border;
            margin-bottom: 10px;
            outline-color: white;
            @include input;
        }


        button {
            display: block;
            padding: 7px;
            background-color: $black;
            color: $white;
            border: none;
            text-transform: uppercase;
            @include text-form;

                &:hover,
                &:focus {
                    background-color: $white;
                    color: $black;
                }
        }
    }
}

@media(min-width: 768px) {
    .contacts {
        padding-top: 70px;
        border-right: 1px solid $gray-border;
        border-bottom: none;
        flex-shrink: 1;
        flex-basis: 200px;
    }
}

@media(min-width: 1024px) {
    .contacts {
        padding-top: 90px;
    }
}
