.event-slider {
    position: relative;
    height: 100%;

    &__prev,
    &__next {
        width: 91px;
        height: 43px;
            transform: rotate(-90deg);
        position:absolute;
        top:50%;
        margin-top:-30px;
        opacity:0.6;
        cursor:pointer;
        color: $white;
        -webkit-transition:opacity 200ms ease-out;
        @include text-form;
        background-color: black;
        text-decoration: none;
        text-align: center;
        line-height: 40px;

        &:hover {
            opacity:1;
        }
    }

    &__prev {
        left:-24px;
    }

    &__next {
      right:-24px;
    }

    // &__prev {
    //     left:-50px;
    // }
    //
    // &__next {
    //   right:-50px;
    // }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__item {
        position:absolute;
        height:100%;
        width:100%;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        &_first {
            z-index: 2;
            opacity: 1;
        }
    }

    &__item-img {
        width: 284px;
        height: 268px;
        margin-left: auto;
        margin-right: auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__item_second {
        img {
            width: 110%;
        }
    }

    &__item-target {
        display: none;
    }

    #event-target-1:target ~ .event-slider__item_first,
    #event-target-2:target ~ .event-slider__item_first {
            opacity: 0;
    }

    #event-target-1:target ~ .event-slider__item_first {
        opacity: 1;
        z-index: 3;
    }

    #event-target-2:target ~ .event-slider__item_second {
        z-index: 3;
        opacity: 1;
    }

}

@media(min-width: 768px) {
    .event-slider {
        &__item-img {
            width: 220px;
            height: 220px;
            margin-left: 10px;
            margin-right: 0px;
            border: 1px solid $gray-border;
        }

        &__prev {
            left: 2px;
            width: 61px;
        }

        &__next {
            right: 14px;
            width: 61px;
        }
    }
}
