.page-header__nav-wrapper {
    position: relative;
    width: 100%;
    position: absolute;
    z-index: 15;
    top: 101px;
    left: 0;
    background-color: $yellow;

    .nav-toggler {
        position: absolute;
        top: -1000%;
        display: none;

        &__button {
            position: absolute;
            top: -70px;
            left: 53%;
            display: block;
            width: 25px;
            height: 4px;
            background-color: $black;
            border: none;
            cursor: pointer;
            transition:  0.6s;

            &:hover,
            &:focus {
                    box-shadow: 0 10px 0 16px rgba(0,0,0,.1), inset 0 0 0 20px rgba(0,0,0,.1);
            }

            &:before, &:after {
                position: absolute;
                display: block;
                content: '';
                left: 0;
                width: 25px;
                height: 4px;
                background-color: $black;
                // top: 50%;
                // border-radius: 5px;
                transition: 0.5s;
            }

            &:before {
                    top: 9px;
            }

            &:after {
                top: 18px;
            }

        }
    }

    .nav-toggler:checked ~ .nav-toggler__label .nav-toggler__button {
        background-color: transparent;

        &:before {
            transform: translateY(-50%) rotate(45deg);
        }

        &:after {
            top: 10px;
            transform: translateY(-50%) rotate(-45deg);
        }

    }

    .nav-toggler:checked ~ .main-nav {
        display: block;
        opacity: 1;
    }

    .main-nav {
        height: 100%;
        display: none;
        transition: all 1s;
        opacity: 0;

        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &__input-search {
            @include input;
            font-weight: 700;
            text-transform: uppercase;;
            background-color: $yellow;
            min-width: 160px;
            padding: 5px 10px;
            margin-right: 10px;
            cursor: pointer;
            outline-color: $white;
            border: 1px solid $gray-border;
            background-image: url(../../img/icon-search.svg);
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center;

            &:hover,
            &:focus {
                background-color: $white;
            }
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            height: inherit;
            flex-direction: column;

            & li:first-child {
                padding: 15px;
                border: 1px solid $gray-border;
                border-top: none;
                border-bottom: none;
            }

            & li:nth-child(2) {
                border-left: none;
                border-top: none;
            }

            & li:last-child {
                border-bottom: 1px solid $gray-border;
            }
        }

        &__list-item {
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
            border: 1px solid $gray-border;
            border-bottom: none;

            @include text-form;
            color: $black;
            text-decoration: none;
            display: block;
            height: 100%;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            border-right: 1px solid $gray-border;

            &:hover,
            &:focus {
                background-color: $white;
            }

        }
    }
}

@media(min-width: 1024px) {
    .nav-toggler {
        &__label {
            display: none;
        }
    }

    .page-header__nav-wrapper {
        position: relative;
        top: 0px;
        width: 80%;

        .main-nav {
            height: 100%;
            display: block;
            opacity: 1;

            &__list {
                flex-direction: row;

                &  li:first-child {
                    border-left: none;
                }

                & li:last-child {
                    border-bottom: none;
                }
            }

            &__list-item {
                max-width: 125px;
                padding-top: 65px;
                border-top: none;
                border-left: none;
            }

            &__input-search {
                margin-top: 60px;
            }
        }
    }
}

@media(min-width: 1200px) {
    .page-header__nav-wrapper {
        width: auto;

        .main-nav__list-item {
            width: 125px;
        }
    }
}
