.page-main {
    @include container;
    @include paddings;
}

@media(min-width: 768px) {
    .page-main {
        display: flex;
        justify-content: space-around;

        &__filters-wrapper {
            flex-basis: 290px;
        }
    }
}

@media(min-width: 1024px) {
    .page-main {
            justify-content: space-between;

            &__positions-wrapper {
                padding-left: 20px;
                flex-basis: 600px;
            }
    }
}
