.page-footer {
    background-color: $yellow;
    width: 100%;
    padding-top: 70px;
    
    &__inner {
        @include container;
        border-bottom: none;
        display: flex;
        flex-direction: column;        
    }
    
    &__copyright {
        @include paddings;
    }
    
    &__copyright-text {
        color: $gray-dark;
        clear: both;
        text-align: right;
    }
    
    &__logo {
        display: block;
        font-size: 0px;
        width: 100px;
        height: 75px;
        float: right;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 15px;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
}