.positions {
    &__header {
        @include text-form;
        text-align: center;
    }

    &__item-info {
        display: none;
        position: absolute;
        top: 90px;
        left: 50%;
        padding: 25px;
        margin-left: -35px;
        background-color: $black;
        color: $white;
        cursor: pointer;
        @include text-form;
        letter-spacing: 2px;

        &:hover,
        &:focus {
            background-color: $yellow;
        }

        &:after {
            content: '';
            display: block;
            width: 35px;
            height: 35px;
            position: absolute;
            top: 110px;
            left: 50%;
            margin-left: -17px;
            background-image: url(../../img/icons-sprite.png);
            background-repeat: no-repeat;
            background-position-y: -60px;
        }
    }

    &__item {
        margin-bottom: 106px;
        position: relative;
        width: 266px;
        margin-left: auto;
        margin-right: auto;

        &:hover,
        &:focus {
            margin-bottom: 16px;
            border: 1px solid $gray-border;

            .positions__item-info {
                display: block;
            }

            .positions__item-img {
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        &:hover .positions__item-text-additional,
        &:hover .positions__item-anchor{
            display: block;
        }
    }


    &__item-text {
        display: block;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    &__item-img {
        box-sizing: border-box;
        width: 100%;
        height: 254px;
        border: 1px solid $gray-border;
        margin-bottom: 20px;
        background-color: $gray-border;
    }

    &__item-text-additional {
        display: none;
        color: $red;
        margin-bottom: 15px;
        margin-left: 10px;
    }

    &__item-anchor {
        display: none;
        max-width: 93px;
        max-height: 36px;
        padding: 10px 15px;
        margin-left: 10px;
        margin-bottom: 20px;
        border: 1px solid $gray-border;
        @include text-form;
        text-decoration: none;
        text-align: center;
        color: $black;

        &:hover,
        &:focus {
            background-color: $yellow;
        }
    }

}
