.question {
    @include paddings;
    padding-bottom: 25px;
    border-bottom: 1px solid $gray-border;

    &__header {
        text-transform: uppercase;
        font-family: $font-subheading;
        font-weight: 700;
    }

    &__text {
        font-family: $font-subheading;
        font-weight: 700;
    }

    &__form-submit {
        color: $white;
        background-color: $black;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        @include text-form;

        &:hover,
        &:focus {
            background-color: $white;
            color: $black;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;


        &-input {
            display: block;

            input,
            textarea {
                width: 100%;
                box-sizing: border-box;
                color: $black;
                @include input;
            }

            textarea {
                min-height: 150px;
                resize: none;
            }
        }
    }
}

@media(min-width: 768px) {
    .question {
        padding-top: 70px;
        border-right: 1px solid $gray-border;
        flex-shrink: 2;
    }
}
