.shelter-filter {
    margin-bottom: 60px;

    &__header {
        @include text-form;
    }

    &__form-container {
        padding: 0px;
        display: flex;
        position: relative;
        padding-top: 48px;
        @include text-form;
        @include margin-0-fieldset;
    }

    &__form-header {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 8px 13px;
        background-color: $black;
        color: $white;
    }

    &__form-label {
        position: relative;
        margin-bottom: 20px;
        max-width: 151px;

        &_long {
            max-width: 210px;
        }

        input {
            position: absolute;
            left: -100%;
        }

        input:checked ~ .shelter-filter__form-custom-checkbox {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAMAAACXZR4WAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAhFBMVEUAAAAzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQzMjQAAABDUHYqAAAAKnRSTlMAD5Hq5IkNh+PrENPR1ZCS5ujnhAOfpwYBi5MCZvr9bUDwSB/N1iYJo658RnosAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAGdJREFUCNddzMkWgjAMQNEnaoWCyOCIM+KU//9AT1sOttxN8rIITKKpzOZKLWJJIg06FSPN7FhqcgmsKMJDiYyQhF1Rh4ea9cbv7Q72h383R4zT2eXlSu9mP99bBo9O5PnC8/58ldt+8msXDLKUcv4AAAAASUVORK5CYII=");
        }

        input:checked ~ .shelter-filter__form-text {
            color: $black;
        }
    }

    &__form-custom-checkbox {
        display: inline-block;
        vertical-align: middle;
        width: 29px;
        height: 29px;
        background-color: $yellow;
    }

    &__form-text {
        display: inline-block;
        vertical-align: middle;
        color: $gray-border;
        margin-left: 35px;
    }
}
