.socials {
    @include paddings;
    padding-top: 35px;
    padding-bottom: 25px;
    
    &__header {
        font-family: $font-subheading;
        font-weight: 700;
        color: $black;
        text-decoration: none;
        letter-spacing: 1px;
    }
    
    &__list {
        margin: 0px;
        padding: 0px;
        list-style: none;
        
        & li:first-child {
            a:before {
                background-position-y: -112px; 
            }
        }
        
        & li:nth-of-type(2) {
            a:before {
                background-position-y: -150px;  
            }
        }
        
        & li:nth-of-type(3) {
            a:before {
                background-position-y: -192px;
            }
        }
        
        & li:nth-last-of-type(1) {
            a:before {
                background-position-y: -232px;
            }
        }
    }
    
    &__list-item {
        font-family: $font-subheading;
        font-weight: 700;
        color: $black;
        text-decoration: none;
        letter-spacing: 1px;
        padding-left: 45px;
        display: block;
        max-width: 60px;
        min-height: 30px;
        margin-bottom: 15px;
        position: relative;
        
        &:hover,
        &:focus {
            color: $white;
            text-decoration: underline;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 35px;
            height: 35px;
            background-image: url(../../img/icons-sprite.png);
            background-repeat: no-repeat;
            left: 7px;
            top: -9px;  
        }
    }  
}