.welcome-slider {
    position: relative;
    height: 100%;

    &__prev,
    &__next {
        width: 91px;
        height: 43px;
            transform: rotate(-90deg);
        position:absolute;
        top:50%;
        margin-top:-30px;
        opacity:0.6;
        cursor:pointer;
        color: $white;
        -webkit-transition:opacity 200ms ease-out;
        @include text-form;
        background-color: black;
        text-decoration: none;
        text-align: center;
        line-height: 40px;

        &:hover {
            opacity:1;
        }
    }

    &__prev {
        left:-50px;
    }

    &__next {
      right:-50px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type:none;
    }

    &__item {
        position:absolute;
        height:100%;
        width:100%;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        img {
            max-width: 100%;
            height: auto;
        }

        &_first {
            z-index: 2;
            opacity: 1;
        }
    }

    &__item-target {
        display: none;

    }

    #target-1:target ~ .welcome-slider__item_first,
    #target-2:target ~ .welcome-slider__item_first,
    #target-3:target ~ .welcome-slider__item_first {
            opacity: 0;
    }

    #target-1:target ~ .welcome-slider__item_first {
        opacity: 1;
        z-index: 3;
    }

    #target-2:target ~ .welcome-slider__item_second,
    #target-3:target ~ .welcome-slider__item_third {
        z-index: 3;
        opacity: 1;
    }
}

@media(min-width: 768px) {
    .welcome-slider {
        &__item-img {
            width: 528px;
            height: 426px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media(min-width: 1024px) {
    .welcome-slider {
        &__prev {
                left: -360px;
                top: 93%;
        }

        &__next {
                right: -54px;
                top: 93%;
        }
    }
}
