<nav class="navbar navbar-dark">
    <ul class="navbar-nav">
        <li class="navbar-item active">
            <a href="/">index</a>
        </li>
        <li class="navbar-item">
            <a href="/hello">hello</a>
        </li>
        <li class="navbar-item">this is from partials</li>
    </ul>
</nav>