.programs {
    width: 100%;
    text-align: center;
    
    &__header {
        font-family: $font-heading;
        text-transform: uppercase;
    }
    
    &__sub-header {
        font-size: 16px;
        padding-left: 5%;
        padding-right: 5%;
    }
}