@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../../fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), url(../../fonts/UbuntuCondensed-Regular.ttf2);
}