@import 'var.scss';
@import 'fonts.scss';

body {
    font-family: $font-main;
    font-size: 14px;
    line-height: 18px;
    
}

@import 'components/page-header.scss';

@import 'components/nav-toggler.scss';

@import 'components/main-nav.scss';

main {
    @include paddings(20px);
}

@import 'components/welcome-screen.scss';

@import 'components/features.scss';

@import 'components/services.scss';

.text-container {
    background-color: $gray-bg;
    padding-top: 30px;
}

@import 'components/news.scss';

@import 'components/shop.scss';

.parthners {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include top-bottom-gutter;

    
    &__logo {
        width: 110px;
        height: 60px;
        margin: 10px;
        background-color: $blue;
    }
}

@import 'components/page-footer.scss';

@media(min-width: 768px) {
    .text-container {
        display: flex;
    }
}