//colors
$yellow: #f4b60d;
$blue: #248cec;
$black: #2a2d32;
$gray: #35383c;
$gray-light: #cccccc;
$gray-text: #8a8a8a;

//color for number in features 
//#efeff0

//fonts

$font-heading: 'Ubuntu Condensed', sans-serif;
$font-subheading: 'Ubuntu', Verdna, sans-serif;
$font-main: Arial, Helvetica, sans-serif;