//colors
$yellow: #f4b60d;
$blue: #248cec;
$black: #2a2d32;
$gray: #35383c;
$gray-light: #cccccc;
$gray-text: #8a8a8a;
$white: white;
$gray-bg: #f7f7f7;
$gray-text-footer: #5d6063;

//color for number in features 
//#efeff0

//fonts

$font-heading: 'Ubuntu Condensed', sans-serif;
$font-subheading: 'Ubuntu', Verdna, sans-serif;
$font-main: Arial, Helvetica, sans-serif;

//mixins

@mixin paddings($padding: 40px) {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin top-bottom-gutter($padding-new: 30px) {
    padding-top: $padding-new;
    padding-bottom: $padding-new;
}