.page-header {
    width: 100%;
//    min-height: 57px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid $main-color;
    
    &__inner {
     @include inner-container;   
    }
    
    &__logo-wrapper {
        width: 140px;
        margin-left: auto;
        margin-right: auto;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
}