//COLORS

//bg-color
$blue: #272f45;
//text-color
$gray: #9aa5a9;
$white: white;
//border and hover on buttons
$peach: #eec9a2;

//FONTS

$font-main: 'HKGrotesk-Light', Arial, Helvetica, sans-serif;
$font-heading: 'LeagueSpartan-Bold', Tahoma, Geneva, sans-serif;

//MIXINS
@mixin margin-sides($margin: 7%) {
    margin-left: $margin;
    margin-right: $margin;
}