@import "../../fonts/fonts.css";
@import "var.scss";

body {
    margin: 0;
    font-family: $font;
    font-size: 18px;
    line-height: 22px;
}

@import "components/page-header.scss";

@import "components/welcome-screen.scss";

@import "components/main-nav.scss";

@import "components/programs.scss";

@import "components/study-plan.scss";

@import "components/plan-tabs.scss";

@import "components/testimonals.scss";