.main-nav {
    position: absolute;
    top: -100px;
    
//    make toggler bigger 
    &__toggler {
        display: block;
        width: 24px;
        position: absolute;
        top: 32px;
        right: 16px;
        font-size: 0px;
        border: none;
        background-color: $blue;
        border-top: 4px solid $gray;
        cursor: pointer;
        outline-color: $gray;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 24px;
            height: 4px;
            background-color: $gray;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            left: 0;
            width: 24px;
            height: 4px;
            background-color: $gray;
        }
    
    }
}