.nakitel {
    margin-bottom: 50px;
    
    &__inner {
        @include margin-sides;
        text-align: right;
        padding-right: 10px;
        padding-bottom: 20px;
        color: $white;
        background-color: #60b8a3;
        background-size: cover;
    }
    
    &__header {
        margin-top: 0px;
        margin-bottom: 40px;
        padding-top: 60px;
    }
    
    &__text {
        margin-bottom: 50px;
    }
    
    &__button {
        display: inline-block;
        padding: 10px;
        margin-bottom: 50px;
        border: 2px solid $peach;
        background-color: transparent;
        color: $white;
        font-size: 1em;
        text-decoration: none;
        
        &:hover,
        &:focus {
            background-color: $peach;
            color: $blue;
        }
    }
}

//padding-left: 60px

@media(min-width: 768px) {
    .nakitel {
        flex-grow: 1;
        
        &__inner {
            max-width: 303px;
            padding-right: 30px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}