.for-placeholder {
  color: blue;
}

.for-placeholder::-webkit-input-placeholder {
  color: blue;
}

.field {
  width: 100px;
  height: 50px;
  border: 2px solid black;
}

#capsIndicator {
  display:none;
  color:red;
}
